interface {{pascalCase name}}Props {
  className?: string;
}

export function {{pascalCase name}}({ className }: {{pascalCase name}}Props) {
  return (
    <div className={className}>
      <p>{{pascalCase name}}</p>
    </div>
  );
}
